body {
  padding 50px;
  font-size: 120px;
  text-align: center;
  font-family: monospace;
  background-color: #ff6700;
  color: #232625;
}

.results{
  font-size: 20px;
}

.toprow,
.centerrow {
  border-bottom: 8px solid #232625;
}

.row .col-xs-4 {
  border-right: 8px solid #232625;
}

.row .col-xs-4:last-child{
  border-right: 0px;
}

.TicTacToe {
    max-width: 600px;
    max-height: 600px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
